@inherits LayoutComponentBase

<PageTitle>ScriptWriterApp</PageTitle>

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<div class="page" style="background-color:white;">
    <NavMenu/>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
