@inherits LayoutComponentBase

<PageTitle>ScriptWriterApp</PageTitle>

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<div class="page">
    <NavMenu/>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
